.card {
    background-color: #d9ecd0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .card-title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .btn-secondary {
    font-size: 17px;
    background-color: #1E242C;
    color: #fff;
  }
  
  .btn-success {
    font-size: 17px;
    color: black;
    background-color: #b9b0b0;
    
  }
  