%h1= t('application.edit_model', model: t('activerecord.modules.order.one'))
= render "form", order: @order
%br/
%div

= link_to t('application.show'), @order
\|
= link_to t('application.back'), orders_path
