= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload'

%div.fond
  %h1 Bienvenido 
  %h2 Administrador
  %h4 El modulo administrador le permitira gestionar a las ordenes, clientes, usuarios y platillos dentro de la compañia, recuerde que un mal uso del gestionamiento en este modulo, sera severamente penalizado segun las reglas de la organizacion afiliada.
  %h3 Desarrolladores:
  %p Daniel Vargas - C19452, Kevin Mora- C10724, Daniel Umaña Ortega - C19438, Victoria Campos Fonseca - C08854

