.row
  .col-6
    .div.m-4.mb-4
      %h1
        = t('application.cruds_available')

.float-start.m-4
  = link_to t('activerecord.modules.dish.other'), dishes_path, class: 'btn btn-danger'

.float-start.m-4
  = button_to t('application.logout'), destroy_user_session_path, method: :delete ,class: 'btn btn-danger'