
.bar{
    background-color: #396c7e  ;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home {
    margin-left: 10px;
    font-size: 25px; 
    color: white; 
}

.sign_off{
    margin-right: 25px;
    color: white;
}