
.bar{
    background-color: #2A6AC1  ;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home {
    margin-left: 135px;
    font-size: 25px; 
    color: white; 
}

.sign_off{
    margin-right: 25px;
}