= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload'

%nav.navbar.navbar-light{class: 'bar'}
  = link_to root_path, class: "navbar-brand h1 home" do
    %i.fa.fa-home
  #navbarSupportedContent.collapse.navbar-collapse
  %form.form-inline
    = button_tag t('application.sign_off'), class: "btn btn-danger btn-block sign_off"

