%nav.navbar.navbar-dark.bg-dark
  = link_to root_path, class: "navbar-brand mb-0 h1" do
    %i.fa.fa-home{style: "margin-left: 100px;"}
  #navbarSupportedContent.collapse.navbar-collapse
 
  %form.form-inline
    = button_tag "Sign Off", class: "btn btn-secondary btn-block", style: "margin-right: 25px;"

